<div class="container mx-auto p-6">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-bold mb-8 text-center">Kartoni</h1>

    <!-- Patient List -->
    <ul class="space-y-8">
      <!-- Patient 1 -->
      <li>
        <button
          class="w-full bg-gray-100 hover:bg-gray-200 rounded-lg px-4 py-3 flex justify-between items-center transition-colors duration-300"
          (click)="togglePatient(1)">
          <img src="https://www.svgrepo.com/show/338102/medical-record-medical-hospital-pharmacy-healthcare.svg"
            alt="Medical Record Icon" width="60px">
          <span class="font-semibold text-lg ml-2">Elmedina Izmirlija</span>
          <svg *ngIf="isPatientExpanded(1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            class="h-6 w-6">
            <path fill-rule="evenodd"
              d="M3.293 7.293a1 1 0 011.414 0L10 12.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <div *ngIf="isPatientExpanded(1)" class="border-t border-gray-200 pt-4 mt-4">
          <!-- Patient Information -->
          <div class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Osnovne informacije</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Ime:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">Elmedina</p>
                </div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Prezime:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">Izmirlija</p>
                </div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Alergije:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">Nema</p>
                </div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Lijekovi:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">Nema</p>
                </div>
                <div class="flex items-center">
                  <p class="w-32 font-semibold">Krvna grupa:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">A+</p>
                </div>
              </div>
              <div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Porodična historija:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">Nema</p>
                </div>
                <div class="flex items-center mb-4">
                  <p class="w-32 font-semibold">Visina:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">170 cm</p>
                </div>
                <div class="flex items-center">
                  <p class="w-32 font-semibold">Težina:</p>
                  <p class="border-b border-gray-300 flex-grow ml-2">71 kg</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Medical Reports -->
          <div class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Izvještaji</h2>
            <div class="space-y-6">
              <!-- Report 1 -->
              <div class="bg-gray-100 p-6 rounded-lg">
                <p class="font-semibold mb-2">Datum: January 1, 2024</p>
                <p><span class="font-semibold">Dijagnoza:</span> Groznica</p>
                <p><span class="font-semibold">Plan liječenja:</span> Odmor i tečnosti</p>
                <p><span class="font-semibold">Rezultati testova:</span> Normalno</p>
                <p><span class="font-semibold">Dodatne napomene:</span> Nema</p>
              </div>

              <!-- Report 2 -->
              <div class="bg-gray-100 p-6 rounded-lg">
                <p class="font-semibold mb-2">Datum: February 15, 2024</p>
                <p><span class="font-semibold">Dijagnoza:</span> Glavobolja</p>
                <p><span class="font-semibold">Plan liječenja:</span> Bolovi</p>
                <p><span class="font-semibold">Rezultati testova:</span> Normalno</p>
                <p><span class="font-semibold">Dodatne napomene:</span> Nema</p>
              </div>
            </div>
          </div>

          <!-- Doctor Referrals -->
          <div>
            <h2 class="text-2xl font-semibold mb-4">Uputnice</h2>
            <div class="space-y-6">
              <!-- Referral 1 -->
              <div class="bg-gray-100 p-6 rounded-lg">
                <p><span class="font-semibold">Datum:</span> March 10, 2024</p>
                <p><span class="font-semibold">Razlog:</span> Konsultacija specijalista</p>
                <p><span class="font-semibold">Prioritet:</span> Hitno</p>
                <p><span class="font-semibold">Upućuje doktor:</span> Dr. Smith</p>
                <p><span class="font-semibold">Preporučeni doktor:</span> Dr. Johnson</p>
              </div>

              <!-- Referral 2 -->
              <div class="bg-gray-100 p-6 rounded-lg">
                <p><span class="font-semibold">Datum:</span> April 5, 2024</p>
                <p><span class="font-semibold">Razlog:</span> Kontrola</p>
                <p><span class="font-semibold">Prioritet:</span> Redovno</p>
                <p><span class="font-semibold">Upućuje doktor:</span> Dr. Brown</p>
                <p><span class="font-semibold">Preporučeni doktor:</span> Dr. Lee</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
