<!-- Popup Forma -->
<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="popup-container bg-white border border-gray-300 rounded-lg shadow-md p-8" style="width: 500px; height: 300px;">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Zakažite termin</h2>
      <form (ngSubmit)="bookSelectedAppointment()">
        <div class="max-w-md mx-auto">
          <div class="mb-4">
            <label for="doctor" class="block text-gray-800 mb-1">Izaberite doktora:</label>
            <select id="doctor" [(ngModel)]="selectedDoctorId" (change)="onSelectDoctor()" name="selectedDoctorId" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" required>
              <option value="" disabled [selected]="!selectedDoctorId">Izaberite doktora</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstname }} {{ doctor.lastname }}</option>
            </select>
          </div>
    
          <div class="mb-4">
            <label for="date" class="block text-gray-800 mb-1">Izaberite datum:</label>
            <input type="date" id="date" [(ngModel)]="selectedDate" (change)="onSelectDate()" name="selectedDate" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="selectedDate || ''" required>
          </div>
    
          <ng-container *ngIf="selectedDoctorId && selectedDate; else noDoctorOrDate">
            <div class="mb-4">
              <label for="appointment" class="block text-gray-800 mb-1">Izaberite termin:</label>
              <select id="appointment" [(ngModel)]="selectedAppointmentId" name="selectedAppointmentId" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [disabled]="availableAppointments.length === 0" required>
                <option *ngFor="let appointment of availableAppointments" [value]="appointment.id">{{ appointment.time }}</option>
              </select>
            </div>
          </ng-container>
          
          <div class="flex justify-between items-center"> <!-- Dodati ovaj div -->
            <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300" [disabled]="availableAppointments.length === 0">Zakaži termin</button>
            <button type="button" class="bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition duration-300" (click)="closeDialog()">Zatvori</button>
          </div>
          <ng-template #noDoctorOrDate>
            <p class="text-gray-800">Molimo izaberite doktora i datum prije nego što zakažete termin.</p>
          </ng-template>
        </div>
      </form>
    </div>
</div>
