<app-navbar></app-navbar>
<!-- <div class="bg-image"
     style="background-image: url('assets/images/background-image.png');
            height: 100vh;">
</div> -->

<div class="hero py-40 bg-slate-200 relative before:block before:absolute before:bg-black before:h-full before:w-full before:top-0 before:z-10 before:opacity-70">
    <img src="../assets/images/background-image.png" alt="" class="absolute top-0 left-0 h-full w-full object-cover">
    <div class="relative z-30 mx-auto max-w-screen-xl flex gap-20">
      <div class="w-2/3">
        <span class="text-green-600 font-medium mb-4 block">Poliklinika HopeRise</span>
        <h1 class="text-7xl text-white font-extrabold">VAŠE ZDRAVLJE JE NAŠ PRIORITET</h1>
        <div class="flex items-center gap-3 text-white my-6 text-4xl">
          <span>....</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
          </svg>
          <span>....</span>
        </div>
        <p class="text-slate-200">
          Neka baš poliklinika HopeRise bude Vaša poliklinika. Nudimo razne usluge, budite dio naše poliklinike. Pogledajte naše usluge, te kontaktirajte nas ako imate ikakvih pitanja.
        </p>
        <div class="flex gap-8 mt-10">
          <button class="text-white h-12 bg-green-700 w-44">
            Pogledaj usluge
          </button>
          <button class="text-white h-12 bg-blue-500 w-44">
            Kontakt
          </button>
        </div>
      </div>
      <div class="w-1/3">
        <form action="" class="bg-blue-500 p-10">
          <div class="flex flex-col mb-4">
            <label for="" class="text-white text-sm mb-2">Razlog*</label>
            <input type="text" class="h-12 bg-white px-4 placeholder:text-sm placeholder:text-slate-400" placeholder="Npr. upaljeno grlo">
          </div>
          <div class="flex flex-col mb-4">
            <label for="" class="text-white text-sm mb-2">Prioritet*</label>
            <input type="text" class="h-12 bg-white px-4 placeholder:text-sm placeholder:text-slate-400" placeholder="Npr. kontrola">
          </div>
          <div class="flex flex-col mb-4">
            <label for="" class="text-white text-sm mb-2">Datum*</label>
            <div class="h-full relative">
              <button class="absolute flex items-center h-full top-6 right-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                </svg>
              </button>
            </div>
            <input type="text" class="h-12 bg-white px-4 placeholder:text-sm placeholder:text-slate-800" placeholder="30.05.2024.">
          </div>
  
          <button class="text-white h-12 bg-green-500 w-full mt-5">
            Rezerviši
          </button>
        </form>
      </div>
    </div>
  </div>


<!-- component -->
<!-- This is an example component -->
<div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-green-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                    Prijava
                </label>
                <form method="#" action="#" class="mt-10">
                                   
                    <div>
                        <input type="email" placeholder="Korisničko ime" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                    </div>
        
                    <div class="mt-7">                
                        <input type="password" placeholder="Lozinka" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                    </div>

                    <div class="mt-7 flex">
                        <label for="remember_me" class="inline-flex items-center w-full cursor-pointer">
                            <input id="remember_me" type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="remember">
                            <span class="ml-2 text-sm text-gray-600">
                                Zapamti me
                            </span>
                        </label>
        
                       <div class="w-full text-right">     
                            <a class="underline text-sm text-gray-600 hover:text-gray-900" href="#">
                                Zaboravljena lozinka?
                            </a>                                  
                       </div>
                    </div>
        
                    <div class="mt-7">
                        <button class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            Prijavi se
                        </button>
                    </div>
        
        
                     <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2" >Nemate račun?</label>
                            <a href="#" class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                Kreirajte račun
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

<router-outlet />