<div class="background">
  <div class=" container px-4">
    <div class="w-2/5 pl-4 animate__animated animate__fadeInRight">
      <div class="bg-gray-100 rounded-lg shadow-md p-4">
        <div class="mb-4">
          <label for="doctor" class="block text-gray-800 mb-1">Izaberite doktora:</label>
          <select id="doctor" [(ngModel)]="selectedDoctorId" (change)="onSelectDoctor()" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
            <option value="" disabled [selected]="!selectedDoctorId">Izaberite doktora</option>
            <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstname }} {{ doctor.lastname }}</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="date" class="block text-gray-800 mb-1">Izaberite datum:</label>
          <input type="date" id="date" [(ngModel)]="selectedDate" (change)="onSelectDate()" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="selectedDate || ''">
        </div>

        <div class="mb-4" *ngIf="selectedDoctorId && selectedDate">
          <label for="appointment" class="block text-gray-800 mb-1">Izaberite termin:</label>
          <select id="appointment" [(ngModel)]="selectedAppointmentId" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
            <option *ngFor="let appointment of availableAppointments" [value]="appointment.id">{{ appointment.time }}</option>
          </select>
        </div>

        <button *ngIf="selectedDoctorId && selectedDate" (click)="bookSelectedAppointment()" class="mt-2 bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300">Zakaži pregled</button>
        
        <div *ngIf="selectedDoctorId && selectedDate && availableAppointments.length === 0" class="mt-4">
          <p class="text-red-800">Nema dostupnih termina za izabrani datum i doktora!</p>
        </div>

        <div class="toast" *ngIf="successMessage">
          <p class="text-green-500">{{ successMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
