<div class="container mx-auto px-4 flex justify-center">
  <div class="w-2/5 pr-4 animate__animated animate__fadeInLeft">
    <!-- Prikaz zakazanih pregleda -->
    <div *ngIf="loading" class="text-center py-4">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Učitavanje...</span>
      </div>
    </div>

    <div *ngIf="!loading && hasSession">
      <ng-container *ngIf="upcomingAppointments.length > 0; else noAppointments">
        <h2 class="text-lg font-semibold mb-2 text-center text-gray-800">Zakazani pregledi</h2>
        <div *ngFor="let appointment of upcomingAppointments; let i = index" class="mb-4 animate__animated animate__fadeInUp" [style.animation-delay]="(i + 1) * 0.1 + 's'">
          <div class="bg-gray-100 rounded-lg shadow-md p-4 hover:bg-gray-200 transition duration-300">
            <p class="text-gray-800">Datum: {{ appointment.date }}</p>
            <p class="text-gray-800">Vrijeme: {{ appointment.time }}</p>
            <p class="text-gray-800">Status: {{ appointment.status }}</p>
          </div>
        </div>
      </ng-container>
      <ng-template #noAppointments>
        <div class="bg-gray-100 rounded-lg shadow-md p-4">
          <p class="text-gray-800">Nema zakazanih pregleda.</p>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Forma za zakazivanje pregleda -->
  <div class="w-2/5 pl-4 animate__animated animate__fadeInRight">
    <div class="bg-gray-100 rounded-lg shadow-md p-4">
      <div class="mb-2">
        <label for="doctor" class="block text-gray-800 mb-1">Izaberite doktora:</label>
        <select id="doctor" [(ngModel)]="selectedDoctorId" (change)="onSelectDoctor()" class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
          <option value="" disabled [selected]="!selectedDoctorId">Izaberite doktora</option>
          <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstname }} {{ doctor.lastname }}</option>
        </select>
      </div>

      <div class="mb-2">
        <label for="date" class="block text-gray-800 mb-1">Izaberite datum:</label>
        <input type="date" id="date" [(ngModel)]="selectedDate" (change)="onSelectDate()" class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="selectedDate || ''">
      </div>

      <ng-container *ngIf="selectedDoctorId && selectedDate && availableAppointments.length > 0; else noAvailableAppointments">
        <div class="mb-2">
          <label for="appointment" class="block text-gray-800 mb-1">Izaberite termin:</label>
          <select id="appointment" [(ngModel)]="selectedAppointmentId" class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
            <option *ngFor="let appointment of availableAppointments" [value]="appointment.id">{{ appointment.time }}</option>
          </select>
          <button (click)="bookSelectedAppointment()" class="mt-1 bg-blue-500 text-white py-1 px-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300">Zakaži pregled</button>
        </div>
      </ng-container>
      <ng-template #noAvailableAppointments>
        <div *ngIf="selectedDoctorId && selectedDate" class="mb-2">
          <p class="text-gray-800">Nema dostupnih termina za izabrani datum i doktora.</p>
        </div>
      </ng-template>

    </div>
  </div>
</div>
