<div class="container background px-4 flex justify-center">
  <div class="w-2/5 pr-4 animate__animated animate__fadeInLeft">
    <div *ngIf="loading" class="text-center py-4">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Učitavanje...</span>
      </div>
    </div>

    <div *ngIf="!loading && hasSession">
      <ng-container *ngIf="upcomingAppointments.length > 0; else noAppointments">
        <h2 class="text-3xl font-bold mb-4 text-center text-gray-800 border-b-4 border-gray-800 inline-block pb-2">Zakazani pregledi</h2>
        <div class="appointments-list">
          <div *ngFor="let appointment of upcomingAppointments; let i = index" class="appointment bg-gray-100 hover:bg-gray-200 transition duration-300 animate__animated animate__fadeInUp" [style.animation-delay]="(i + 1) * 0.1 + 's'">
            <div class="border rounded-lg px-4 py-3 flex justify-between items-center">
              <div>{{ appointment.date }} {{ appointment.time }}</div>
              <button *ngIf="appointment.status !== 'CANCELLED'" (click)="openCancelConfirmationDialog(appointment.id)" class="bg-red-500 text-white py-2 px-6 rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-300">Otkazi</button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noAppointments>
        <div class="no-appointments bg-gray-100 rounded-lg shadow-md p-4">
          <p class="text-gray-800">Nema zakazanih pregleda.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #cancelDialogTemplate>
  <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-white border border-gray-300 rounded-lg shadow-md p-8">
        <div class="modal-header flex justify-between items-center">
          <h2 class="text-lg font-semibold text-gray-800">Potvrda otkazivanja</h2>
          <button type="button" class="close" aria-label="Close" (click)="closeCancelConfirmationDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-gray-800 mb-4">Jeste li sigurni da želite otkazati ovaj termin?</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button *ngIf="selectedAppointmentIdToDelete !== null" class="bg-red-500 text-white py-2 px-6 rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-300 mr-2" (click)="cancelAppointment(selectedAppointmentIdToDelete); closeCancelConfirmationDialog()">Potvrdi</button>
          <button class="bg-gray-500 text-white py-2 px-6 rounded-full hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition duration-300 ml-2" (click)="closeCancelConfirmationDialog()">Odustani</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
