<section id="home" class="bg-gray-900 h-screen bg-cover bg-center relative overflow-hidden">
    <div class="absolute inset-0">
        <img src="../assets/images/background-image.png" alt="" class="w-full h-full object-cover opacity-50">
    </div>
    <div class="container mx-auto px-4 max-w-screen-xl py-8">
        <div class="w-full md:w-2/3 text-left">
            <span class="text-green-500 font-medium mb-4 block text-2xl md:text-4xl lg:text-5xl uppercase tracking-wide">Poliklinika HopeRise</span>
            <h1 class="text-4xl md:text-5xl lg:text-6xl text-white font-bold leading-tight mb-6 md:mb-8 lg:mb-10">VAŠE ZDRAVLJE JE NAŠ PRIORITET</h1>
            <p class="text-gray-300 leading-relaxed text-base md:text-lg lg:text-xl max-w-lg">
                Neka baš poliklinika HopeRise bude Vaša poliklinika. Nudimo razne usluge, budite dio naše poliklinike. 
                Pogledajte naše usluge, te kontaktirajte nas ako imate ikakvih pitanja.
            </p>
        </div>
    </div>
</section>



<!-- Sekcija O nama -->
<section id="about-us" class="bg-gray-100">
    <div class="container mx-auto px-4 max-w-screen-xl py-12">
        <div class="flex flex-col md:flex-row items-center justify-center md:justify-between">
            <div class="md:w-1/2 md:pr-6">
                <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-gray-800 mb-4 border-b-4 border-green-500 inline-block pb-2">O Poliklinici</h2>
                <p class="text-lg leading-relaxed text-justify md:text-left mt-4"> 
                    Dobrodošli na našu web stranicu! Mi smo poliklinika koja se ponosi pružanjem kvalitetnih usluga
                    našim pacijentima već više od 10 godina. Naš tim stručnjaka posvećen je vašem zdravlju i radimo
                    naporno kako bismo vam omogućili najbolje moguće iskustvo.
                </p>
            </div>
            <div class="md:w-1/2 mt-6 md:mt-0">
                <img src="../assets/images/about-us-image.jpg" alt="Slika" class="w-full h-auto rounded-lg shadow-lg">
            </div>
        </div>
    </div>
</section>



<!-- Sekcija Usluge -->
<section id="service" class="py-12 bg-gray-100">
    <div class="container mx-auto px-4 max-w-screen-xl">
        <div class="text-center mb-8">
            <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-gray-800 mb-4 border-b-4 border-green-500 inline-block pb-2">Naše Usluge</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Stomatološke Usluge</h3>
                <p class="text-base md:text-lg">
                    Pregledi, popravci, estetski tretmani i oralna hirurgija. Vaš osmijeh je naš prioritet.
                </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Dermatološke Usluge</h3>
                <p class="text-base md:text-lg">
                    Tretmani kože lica i tijela, dijagnostika i liječenje kožnih bolesti.
                </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Fizioterapija</h3>
                <p class="text-base md:text-lg">
                    Obuhvata rehabilitaciju nakon povreda i operacija, terapije i masaže.
                </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Dijagnostičke Pretrage</h3>
                <p class="text-base md:text-lg">
                    Precizne dijagnostičke pretrage kao što su MRI, CT skeniranje i rendgenski snimci, omogućavaju brzu i tačnu
                    identifikaciju zdravstvenih problema. Obratite se našem timu za detaljnije informacije i tretman.
                </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Laboratorijske Analize</h3>
                <p class="text-base md:text-lg">
                    Naša laboratorija pruža sveobuhvatne analize krvi uz upotrebu najsavremenije tehnologije.
                </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-lg md:text-xl font-semibold mb-4">Kardiološki Pregledi</h3>
                <p class="text-base md:text-lg">
                    Naš tim stručnjaka nudi sveobuhvatne kardiološke preglede, uključujući EKG i ultrazvuk srca. 
                    Brinemo se o zdravlju vašeg srca kako bismo osigurali najbolju njegu i podršku.
                </p>
            </div>
        </div>
    </div>
</section>



<!-- Sekcija Kontakt -->
<section id="contact-us" class="py-12 bg-gray-100">
    <div class="container mx-auto px-4 max-w-screen-xl">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <div>
                <h3 class="text-2xl font-semibold mb-4">Kontakt informacije</h3>
                <p class="text-lg">
                    Adresa: Primjer ulica 123, Sarajevo, Bosna i Hercegovina<br>
                    Telefon: +123 456 789<br>
                    Email: info&#64;example.com
                </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-semibold mb-4">Pošaljite nam poruku</h3>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-lg font-medium mb-1">Ime</label>
                        <input type="text" id="name" name="name" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500" placeholder="Vaše ime">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-lg font-medium mb-1">Email</label>
                        <input type="email" id="email" name="email" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500" placeholder="Vaš email">
                    </div>
                    <div class="mb-4">
                        <label for="message" class="block text-lg font-medium mb-1">Poruka</label>
                        <textarea id="message" name="message" rows="4" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500" placeholder="Vaša poruka"></textarea>
                    </div>
                    <button type="submit" class="bg-green-500 text-white px-6 py-2 rounded-lg hover:bg-green-600 transition-colors">Pošalji</button>
                </form>
            </div>
        </div>
    </div>
</section>


